 .diagram {     
    width : 360px;
    height : 400px;
 }
 
ion-slide{
    display: block;
    overflow-x: overlay;
}

 ion-slides {
     height : 100%;
 }


ion-grid {
    font-weight: bold;;
    padding-top: 10px;
    ion-col {
        min-height : 20px;
        padding-top: 0;
    }
}

.selected {
    background-color : #3880ff;
    color: white;
    border-radius: 2px;;
}

.date div:not(.selected) {
    background-color: lightgray;
}

.date div {
    padding-top : 2px;
    padding-bottom : 2px;
}

.bg, .bd{
    font-size: 1.5rem;
}
.bm ion-label{
    vertical-align: sub;
}
#imageBanque{
  max-width: 50px;
  min-width: 50px;
}