
<ion-content class="auth">
    <ion-item-divider color="primary"></ion-item-divider>
    <ion-list>
        <div>
            <ion-item>
                <ion-label fixed>Pseudo</ion-label>
                <ion-input  type="text" autocomplete="off" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Mot de passe</ion-label>
                <ion-input type="password" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                  Rester connecté
                </ion-label>
                <ion-toggle  color="secondary"></ion-toggle>
            </ion-item>

            <ion-item >
                <div id="connexion">
                    <ion-button click()>Connexion</ion-button>
                </div>
            </ion-item>
                    
            
        </div>            
    </ion-list>
</ion-content>
