
<ion-content class="auth">
    <ion-list>
        <div class="authBlock">
            <img src="../../assets/logo.png"/>
            <ion-item >
                <ion-label item-start>Pseudo</ion-label>
                <ion-input  text-right type="text" autocomplete="off" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label item-start>Mot de passe</ion-label>
                <ion-input text-right type="password" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label item-left>
                  Rester connecté
                </ion-label>
                <ion-toggle item-right color="secondary"></ion-toggle>
            </ion-item>

            <ion-item >
                    <ion-button (click)="connexion()">Connexion</ion-button>
            </ion-item>

            <ion-item >
                    <ion-button (click)="inscription()">Pas encore inscrit ?</ion-button>
            </ion-item>
                    
            
        </div>            
    </ion-list>
</ion-content>
