<ion-header>
  <ion-toolbar>
    <ion-title>
      Mes comptes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list *ngFor="let compte of listeComptes;">
     <ion-item (click)="redirectOperations(compte.idCompte)">
       <img id="imageBanque" [src]="(compte.codeBanque=='CA')? 'assets/1200px-Crédit_Agricole.svg.png' : '../assets/Banquepopulaire_logo.svg'">
       <ion-label style="margin-left:10px;">{{compte.libCompte}} {{compte.login}}</ion-label>
     </ion-item>
      
   </ion-list>
</ion-content>
