<ion-header>
  <ion-toolbar>
    <ion-title>
      Ajouter un compte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div>
            <ion-item>
                <ion-label fixed>Numéro de compte</ion-label>
                <ion-input text-right  [(ngModel)]="banque.NUM" type="text" autocomplete="off" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Mot de passe</ion-label>
                <ion-input text-right [(ngModel)]="banque.MDP" type="password" inputmode="numeric" ></ion-input>
            </ion-item>

            <ion-item (click)="addCompteEnBanque()">
                <div id="ajouter">
                    <ion-button>Ajouter</ion-button>
                </div>
            </ion-item>
                    
            
        </div>            
    </ion-list>
</ion-content>
