<ion-header>
  <ion-toolbar>
    <ion-title>
      Opération
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="operation!=null">
    <ion-grid>
      <ion-row>
        <ion-col size="4"> <img style="max-width: 150px;" [src]="(operation.idCompte==1)? 'assets/1200px-Crédit_Agricole.svg.png' : '../assets/Banquepopulaire_logo.svg'"></ion-col>
        <ion-col style="margin-top:30px;font-size:50px">{{operation.dateTransaction}} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> <i style="font-size:22px">{{operation.libTransaction}} ... </i> </ion-col>
        <ion-col> 
          {{operation.montantTransaction}} € 
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col>
          <ion-label>Poste : </ion-label>
          <ion-select name="poste" [(ngModel)]="elemSelecPoste">
            <ion-select-option value="null"></ion-select-option>
            <ion-select-option *ngFor="let poste of postes" [value]="poste.idPoste" [selected]="(poste.idPoste==operation.idPoste)? true :  false">{{poste.libPoste}}</ion-select-option>

          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-label>Atelier : </ion-label> 
            <ion-select name="atelier" [(ngModel)]="elemSelecAtelier" >
              <ion-select-option value="null"></ion-select-option>
              <ion-select-option *ngFor="let atelier of ateliers" [value]="atelier.idAtelier" [selected]="(atelier.idAtelier==operation.idAtelier)? true :  false">{{atelier.libAtelier}}</ion-select-option>
                
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-button (click)="insertAffectation(elemSelecAtelier, elemSelecPoste, operation.idTransaction)">Modifier</ion-button>
  </ion-grid>  
      
    </div>   
 </ion-content>